@use "./mixins/index" as *;

$spacing-scale: (
  auto: auto,
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.5rem,
  6: 2rem,
  8: 3rem,
  10: 4rem,
);

$directions: (
  t: top,
  l: left,
  r: right,
  b: bottom,
);
@each $key, $val in $directions {
  @include generate-responsive-utils(
    "m#{$key}",
    "margin-#{$val}",
    $spacing-scale
  );
  @include generate-responsive-utils(
    "p#{$key}",
    "margin-#{$val}",
    $spacing-scale
  );
}

@include generate-responsive-utils("m", "margin", $spacing-scale);
@include generate-responsive-utils("p", "padding", $spacing-scale);
