section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article {
  // border: 1px solid white;
  // border-right: none;
  // border-left: none;
  padding: 4rem 0;
}
